// Цвета
$primary_shade: #7033AC;
$primary: #A65CF0;
$primary_light: #C998FB;
$pink_violet: #EBD1FF;
$pink_light: #F8EFFF;
$secondary: #FF862F;
$bone: #FFF5D1;
$secondary_light: #FFBD59;
$secondary_shade: #BB370E;
$red_input: #FF6972;
$black: #333333;
$grey_shade: #666666;
$grey: #999999;
$md_grey: #EAEAEA;
$grey_light: #F6F6F6;
$white: #fff;
$gold: #D5B986;
$green_input: #B8EC64;




